/* START CSS HELPER CLASSES */
.round-image {
	border-radius: 50%;
}
/* END CSS HELPER CLASSES */

/* START OVERRIDE SKELETON CSS STYLES */
.container {
	margin: 0;
}
/* END OVERRIDE SKELETON CSS STYLES */

header {
	display: flex;
	flex-direction: row;kamitora
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid black;
}


.side-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	width: 150px;
	height: 100%;
	border-right: 1px solid black;
}

.side-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.side-nav ul li {
	margin: 0;
	padding: 0;
}

.side-nav ul li.active {
	font-weight: bold;
}

.side-nav ul a {
	text-decoration: none;
	color: inherit;
	display: block;
	text-align: center;
}

.content-container {
	margin-left: 150px; /* Same as with of side nav */
	padding-left: 15px;
}

.current-tag-list {
	list-style-type: none;
	margin: 0;
}

.hash-tag {
	color: #1DA1F2;
	font-weight: bold;
	margin-right: 5px;
}
