{% extends 'layout.html' %}
{% block content %}
	{% if gallery %}
		<form method="post" class="uk-text-center delete-gallery-form">
			<h1>Delete {{ gallery.name }}?</h1>
			<p>Are you sure that you want to delete the gallery <b>{{ gallery.name }}</b>?</p>
			<p>Deleting a gallery means:</p><br>
			<b>The gallery folder for {{ gallery.name }} will be deleted from the file system</b><br>
			<b>You will no longer be able to edit the gallery</b><br>
			<b>You will no longer be able view the images inside the gallery</b><br><br>
			<i class="em em-worried" aria-role="presentation" aria-label="WORRIED FACE"></i><br><br>
			<button type="submit" name="button" class="uk-button uk-button-primary">Delete</button>
			<a href="{{ url_for('my_galleries') }}"><button type="button" name="button" class="uk-button uk-button-default">No</button></a>
		</form>
	{% else %}
		<div class="unknown-gallery-name">
			<h1>Oops this gallery does not seem to exist...</h1>
			<i class="em em-ghost" aria-role="presentation" aria-label="GHOST"></i>
		</div>
	{% endif %}
{% endblock %}