{% extends 'layout.html' %}
{% block content %}
<!-- multipart must be set see: https://pythonise.com/series/learning-flask/flask-uploading-files -->
<form method="POST" enctype="multipart/form-data">

	<fieldset class="uk-fieldset">

		<legend class="uk-legend">General Information</legend>

		<div class="uk-margin">
			<label class="uk-form-label" for="gallery-name">Gallery Name</label>
			<input class="uk-input" id="gallery-name" type="text" name="gallery-name" placeholder="Please enter a gallery name..." required>
		</div>

		<div class="uk-margin">
			<label class="uk-form-label" for="gallery-description">Gallery Description</label>
			<textarea id="gallery-description" name="gallery-description" class="uk-textarea" rows="5" placeholder="Your description..."></textarea>
		</div>

		<div class="uk-margin">
			<label class="uk-form-label" for="gallery-tags">Tags</label>
			<textarea id="gallery-tags" name="gallery-tags" class="uk-textarea" rows="5" placeholder="#Tag1 #Tag2 #Tag3..."></textarea>
		</div>

		<div class="uk-margin">
			<label class="uk-form-label" for="gallery-favourite">Is Favourite Galley</label>
			<select class="uk-select" id="gallery-favourite" name="gallery-favourite">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
	</fieldset>

	<fieldset class="uk-fieldset">

		<legend class="uk-legend">Images</legend>

		<div class="uk-margin">
			<label for="uk-form-label" for="gallery-images"></label>
			<div class="js-upload uk-placeholder uk-text-center">
				<span uk-icon="icon: cloud-upload"></span>
				<div uk-form-custom>
					<input id="gallery-images" type="file" name="gallery-images" multiple accept="image/*">
					<span class="uk-link">Choose your images...</span>
				</div>
			</div>
		</div>
	</fieldset>

	<button type="submit" class="uk-button uk-button-primary">Create</button>
</form>
{% endblock %}
