{% extends 'layout.html' %}
{% block content %}
	<form method="POST">
		<fieldset class="uk-fieldset">
			<legend class="uk-legend">Search Options</legend>
			<div class="uk-margin">
				<label class="uk-form-label" for="search-title">Search</label>
				<input class="uk-input" id="search-title" type="text" name="search-title" placeholder="Enter a title to search for...">
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="tag-to-include">Tags</label><br>
				{% for tag in tags %}
					<label><input class="uk-checkbox uk-margin-small-right" type="checkbox" id="tag-to-include" name="tag-to-include" value="{{ tag }}"><span class="uk-badge">{{ tag }}</span></label><br>
				{% endfor %}
			</div>
		</fieldset>
		<button type="submit" class="uk-button uk-button-primary">Search</button>
	</form>
{% endblock %}